<!-- Daily Activity -->
<mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-56">Productos</h4>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell class="fw-medium" *matCellDef="let element; let i = index"> {{i +1 }} </td>
          </ng-container>

          
  
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.nombre }}</p>

            </td>
          </ng-container>
  
          <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef> Costo </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.costo | currency }}</p>

            </td>
          </ng-container>
  
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.precio | currency }}</p>

            </td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.stock }}</p>

            </td>
          </ng-container>


          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.descripcion }}</p>

            </td>
          </ng-container>
  

          <!-- Edit -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> 

              <button mat-mini-fab class="mb-8 me-8" color="accent" (click) = "selectProduct(element)" >
                <i-feather name="plus-circle" class="warning feather-base me-12"></i-feather>

              </button>
              
            </td>
            
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>