.fullito > button {
    background-color: red !important;
}
.fc-button .fc-button-inner:hover {
    background-color: red;
    color: #fff;
}

.fc-button.fc-state-active .fc-button-inner {
    background-color: green;
    color: #fff;
}

.fc-button .fc-button-inner {
    background-color: #000;
    color: #fff;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }